{% extends 'mainIndex.html' %}
{% block content %}
phone book update(수정) 페이지 입니다.<br>
<form method="POST">
    {% csrf_token %}
    <div>
        <label>이름 : </label>
        <input type="text" value="{{ userInfo.이름 }}" name="name">
    </div>
    <div>
        <label>전화번호 : </label>
        <input type="text" value="{{ userInfo.전화번호 }}" name="phNum">
    </div>
    <div>
        <label>이메일 : </label>
        <input type="email" value="{{ userInfo.이메일 }}" name="email">
    </div>
    <div>
        <label>주소 : </label>
        <input type="text" value="{{ userInfo.주소 }}" name="addr">
    </div>
    <div>
        <label>생년월일 : </label>
        <input type="date" value="{{ userInfo.생년월일 | date:'Y-m-d' }}" name="birth">
    </div>
    <div>
        <input type="hidden" value="{{ userInfo.작성자 }}" name="author">
    </div>
    <div>
        <input type="submit" value="확인">
    </div>
    </form>
{% endblock %}