<!--{% extends 'mainIndex.html' %}
{% block content %}
border index 페이지 입니다<br>
<table class="table tabl-striped">
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>조회수</th>
    </tr>
    {% for v in borderTable %}
    <tr>
        <td>{{ v.id }}</td>
        <td>
            {% if user.is_active %}
                <a href="{% url 'BD:D' v.id %}">{{ v.제목 }}</a>
            {% else %}
                <a href="{% url 'login' %}">{{ v.제목 }}</a>
            {% endif %}
        </td>
        <td>{{ v.작성자 }}</td>
        <td>{{ v.조회수 }}</td>
    </tr>
    {% endfor %}
</table>
{% if user.is_active %}
    <button type="button" class="btn btn-success" onclick="document.location.href='{% url 'BD:A' %}'">글쓰기</button>
{% endif %}
{% endblock %}
{% block menu_active %}
    <script type="text/javascript">
        document.getElementById("border").className="active";
    </script>
{% endblock %}-->