{% extends 'mainIndex.html' %}
{% block content %}
<!--<table class="table tabl-striped">
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>조회수</th>
    </tr>
    {% for v in page %}
    <tr>
        <td>{{ v.id }}</td>
            {% if user.is_active %}
                <td role="button" onclick="document.location.href='{% url 'BD:D' v.id %}'">{{ v.제목 }}</td>
            {% else %}
                <td role="button" onclick="document.location.href='{% url 'login' %}'">{{ v.제목 }}</td>
            {% endif %}
        <td>{{ v.작성자 }}</td>
        <td>{{ v.조회수 }}</td>
    </tr>
    {% endfor %}
</table>
<div align="center">
{% if page.has_previous %}
    <button class="btn btn-success" type="button" onclick="document.location.href='{% url 'BD:P' page.previous_page_number %}'">이전</button>
{% else %}
    <button class="btn btn-success" type="button" disabled>이전</button>
{% endif %}
{{ page.number }} / {{ page.paginator.num_pages }}
{% if page.has_next %}
    <button class="btn btn-success" type="button" onclick="document.location.href='{% url 'BD:P' page.next_page_number %}'" >다음</button>  
{% else %}
    <button class="btn btn-success" type="button" disabled>다음</button>
{% endif %}

{% if user.is_active %}
    <button type="button" class="btn btn-success" onclick="document.location.href='{% url 'BD:A' %}'">글쓰기</button>
{% endif %}
</div>
{% endblock %}
{% block menu_active %}
    <script type="text/javascript">
        document.getElementById("border").className="active";
    </script>  -->
    <h1></h1>
    <nav role="navigation">
      <ul id="main-menu">
        <li><a href="#">삼성</a>
        <ul id="sub-menu">
          <li><a href="#" aria-label="subemnu">삼성</a></li>
          <li><a href="#" aria-label="subemnu">신한</a></li>
          <li><a href="#" aria-label="subemnu">롯데</a></li>
          <li><a href="#" aria-label="subemnu">KB</a></li>
        </ul></li>
        <li><a href="#">신한</a>
          <ul id="sub-menu">
            <li><a href="#" aria-label="subemnu">삼성</a></li>
            <li><a href="#" aria-label="subemnu">신한</a></li>
            <li><a href="#" aria-label="subemnu">롯데</a></li>
            <li><a href="#" aria-label="subemnu">KB</a></li>
          </ul>
        </li>
        <li><a href="#">롯데</a>
          <ul id="sub-menu">
            <li><a href="#" aria-label="subemnu">삼성</a></li>
            <li><a href="#" aria-label="subemnu">신한</a></li>
            <li><a href="#" aria-label="subemnu">롯데</a></li>
            <li><a href="#" aria-label="subemnu">KB</a></li>
          </ul>
        </li>
        <li><a href="#">KB</a>
          <ul id="sub-menu">
            <li><a href="#" aria-label="subemnu">삼성</a></li>
            <li><a href="#" aria-label="subemnu">신한</a></li>
            <li><a href="#" aria-label="subemnu">롯데</a></li>
            <li><a href="#" aria-label="subemnu">KB</a></li>
          </ul>
        </li>
        <li><a href="#">우리</a>
        <ul id="sub-menu">
          <li><a href="#" aria-label="subemnu">삼성</a></li>
          <li><a href="#" aria-label="subemnu">신한</a></li>
          <li><a href="#" aria-label="subemnu">롯데</a></li>
          <li><a href="#" aria-label="subemnu">KB</a></li>
        </ul></li>
        <li><a href="#">씨티</a>
        <ul id="sub-menu">
          <li><a href="#" aria-label="subemnu">삼성</a></li>
          <li><a href="#" aria-label="subemnu">신한</a></li>
          <li><a href="#" aria-label="subemnu">롯데</a></li>
          <li><a href="#" aria-label="subemnu">KB</a></li>
        </ul></li>
      </ul>
    </nav>
    <section>
      <img src="image03.png">
    </section>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Roboto');

/*body 초기화*/
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;  
}

h1 {
  margin: 2em 0 1.5em 0;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#main-menu > li {
  float: left;
  position: relative;
  background: #051937
}

#main-menu > li > a {
  font-size: 1.5rem;
  color: rgba(255,255,255,0.85);
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  display: block;
  padding: 14px 36px;
  border-right: 1px solid rgba(0,0,0,0.15);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

#main-menu > li:nth-child(1) > a {
  border-left: 1px solid rgba(0,0,0,0.15);
}

#sub-menu {
  position: absolute;
  background: #182952;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in;
}

#sub-menu > li {
  padding: 16px 28px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}

#sub-menu > li >  a {
  color: rgba(255,255,255,0.6);
  text-decoration: none;
}

#main-menu > li:hover #sub-menu {
  opacity: 1;
  visibility: visible;
}

#sub-menu > li >  a:hover {
 text-decoration: underline;
}

section {
  column-width: 15em;
  background: #dadadf;
  padding: 2em 12em;
}
    </style>
{% endblock %}