{% extends 'mainIndex.html' %}
{% block content %}
<!--<table class="table tabl-striped">
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>조회수</th>
    </tr>
    {% for v in page %}
    <tr>
        <td>{{ v.id }}</td>
            {% if user.is_active %}
                <td role="button" onclick="document.location.href='{% url 'BD:D' v.id %}'">{{ v.제목 }}</td>
            {% else %}
                <td role="button" onclick="document.location.href='{% url 'login' %}'">{{ v.제목 }}</td>
            {% endif %}
        <td>{{ v.작성자 }}</td>
        <td>{{ v.조회수 }}</td>
    </tr>
    {% endfor %}
</table>
<div align="center">
{% if page.has_previous %}
    <button class="btn btn-success" type="button" onclick="document.location.href='{% url 'BD:P' page.previous_page_number %}'">이전</button>
{% else %}
    <button class="btn btn-success" type="button" disabled>이전</button>
{% endif %}
{{ page.number }} / {{ page.paginator.num_pages }}
{% if page.has_next %}
    <button class="btn btn-success" type="button" onclick="document.location.href='{% url 'BD:P' page.next_page_number %}'" >다음</button>  
{% else %}
    <button class="btn btn-success" type="button" disabled>다음</button>
{% endif %}

{% if user.is_active %}
    <button type="button" class="btn btn-success" onclick="document.location.href='{% url 'BD:A' %}'">글쓰기</button>
{% endif %}
</div>
{% endblock %}
{% block menu_active %}
    <script type="text/javascript">
        document.getElementById("border").className="active";
    </script>  -->
    <header>
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
          <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
          <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
              <h1 class="display-3">              <p> 환영합니다</h1>
            </div>
          </div>
        </div>
      </header>
      
      <section class="my-5">
        <div class="container">
          <div class="row">
            <div class="col-md-8 mx-auto">
              <p class="mb-0">
              </p>
            </div>
          </div>
        </div>
      </section>
{% endblock %}