{% extends 'mainIndex.html' %}
{% block content %}
border update 페이지 입니다.<br>
<form method="POST">{% csrf_token %}
    <div>
        <label>제목 : </label>
        <input type="text" class="form-control" name="title" value="{{border.제목}}">
    </div>
    <div>
        <label>내용 : </label>
        <textarea class="form-control" name="context">{{border.내용}}</textarea>
    </div>
    <div>
        <label>파일 : </label>
    </div>
    
        {% for file in dirList %}
        <div>
            <button type="button" class="btn btn-info">{{ file }}</button>
            <button type="button" class="btn btn-danger" onclick="document.location.href='{% url 'UD:L' border.id file %}'">삭제</button>
        </div>
        <br>
        {% endfor %}
    <div>
        <input type="file" name="files" multiple>
    </div>
    <br>
    <button type="submit" class="btn btn-success">저장</button>
</form>
{% endblock %}
{% block menu_active %}
    <script>
        document.getElementById("border").className ="active";
    </script>
{% endblock %}
