{% extends 'mainIndex.html' %}
<head><title>{% block title %}로그인{% endblock %}</title></head>
{% block content %}
<form action="{% url 'login'%}" method="POST">
    {% csrf_token %}
    <div class="form-group input-group">
            <label>로그인 아이디 &nbsp; </label>
            <input type="text" name="username">
    </div>
    <div class="form-group input-group">
            <label>로그인 암호  &nbsp;&nbsp;&nbsp;&nbsp;  </label>
            <input type="password" name="password">
    </div>
    <input type="submit" value="로그인">
    <button type="button" onclick="document.location.href='{% url "mainIndex" %}'">메인</button>
</form>
{% endblock %}
{% block menu_active %}
<script type="text/javascript">
    document.getElementById("login").className="active"
</script>
{% endblock %}