{% extends 'mainIndex.html' %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    아이디 : <input type="text" value="{{ user.username }}" name="username"><br>
    <b>암호를 입력하지 않으면 기존과 동일 합니다.</b><br>
    암호 : <input type="password" placeholder="암호 입력" name="password"><br>
    이메일 : <input type="email" value="{{ user.email }}" name="email"><br>
    이름 : <input type="text" value="{{ user.first_name }}" name="first_name"><br>
    성 : <input type="text" value="{{ user.last_name }}" name="last_name"><br>
    <button type="submit">수정</button>
    <button type="button" onclick="document.location.href='{% url 'delete' %}'">탈퇴</button>
</form>
{% endblock %}
{% block menu_active %}
    <script>
        document.getElementById("register").className = "active";
    </script>
{% endblock %}